{:username     "postgres"

 :migrations   ["./test-resources/db/migrations"]
 :tests        ["./test-resources/db/tests"]

 :default-env  {:migrate :dev}

 :env          {:postgres {:dbname "postgres"
                           :locked true}
                :dev      {:dbname "hello_dev"} 
                :prod     {:dbname    "heello_prod"}}

 ;; :psql-wrapper "kubectl
 ;;                   --context=${config:context}
 ;;                   --namespace=${config:namespace}
 ;;                   exec
 ;;                     --stdin ${config:tty:}
 ;;                     svc/db
 ;;                     --"

 :psql-wrapper "docker compose exec db"
 :context      "docker-desktop"
 :namespace    "smiley"}
