{:username     "postgres"

 :migrations   ["./test-resources/db/migrations"]
 :tests        ["./test-resources/db/tests"]

 :default-env  {:create  :postgres
                :drop    :postgres
                :migrate :dev
                :test    :postgres}


 :env          {:postgres {:dbname "postgres"
                           :locked true}

                :dev      {:dbname "smiley"}

                :test     {}

                :prod     {:dbname    "smiley-prod"
                           :namespace "smiley-prod"}}

 :psql-wrapper "kubectl
                   --context=${config:context}
                   --namespace=${config:namespace}
                   exec --stdin svc/db --"

 :context      "docker-desktop"
 :namespace    "smiley"}
